{{extend 'layout.html'}}
<style>
.top-buffer { margin-top:1px; }
.delete-button { position:absolute; right:0}
</style>
<link rel="stylesheet" href="{{=URL('static','css/depaul.css')}}"/>

<div><h1 class="depaul">Registered users</h1></div>
{{=DIV( DIV(B('First Name'), _class='col-md-3 depaul'), DIV(B('Email'), _class='col-md-3 depaul'), DIV(B('Phone Number'), _class='col-md-3 depaul'), _class='row')}}

<hr>
{{for user in users:}}
        {{keys = ['disabled', 'blocked', 'pending']}}
        {{if  (auth.has_membership(auth.id_group('Students'), user.id)) and user.registration_key in keys :}}
                <div class='row top-buffer'>
                {{=DIV(user.first_name, _class='col-md-3')}}
                {{=DIV(user.email, _class='col-md-3')}}
                {{=DIV(user.Phone_Number, _class='col-md-3')}}
		{{=DIV(A('Activate',_href=URL('activate_user', args=str(user.id)), _class="btn btn-sm btn-success"), _class='col-md-3')}}
                </div>
                <hr>
        {{pass}}
{{pass}}


