.depaul {color:#1d4267}
.navbar_depaul {background-color:#e4ebf8; border-color:#e4ebf8;}

#depaul_logo { color:#1d4267;}

.menu_depaul{font-color:#1d4267;}
.menu_depaul li a{color:#1d4267 !important;}
.menu_li {background-color:#e4ebf8 !important;}
.navbar-default .navbar-nav > li > a {color:#1d4267;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {color:#ffffff !important;background-color:#1d4267 !important;}
.navbar-default .navbar-nav > li > a:hover {color:#ffffff !important;background-color:#1d4267 !important;}
.menu_ul {background-color:#e4ebf8; color:#1d4267;}
.dropdown-menu {background-color:#e4ebf8; color:#1d4267;}

div.custom-row
{
    width:100%;
    display: flex;
    align-items: center;
    margin-bottom:0.5em;
    overflow:auto;
    zoom:1;
}
div.custom-row div.editor-cell
{
    float:left;
    width:150px;
    vertical-align:top;
    margin-right: 0.5em;
}
div.custom-row div.column-title
{
    float:left;
    text-align: center;
    width:150px;
    vertical-align:top;
    margin-right: 0.5em;
}
div.custom-row div.row-title
{
    float:left;
    text-align: center;
    width:80px;
    margin-right: 0.5em;
}
div.editor-cell input
{
    height: 100%;
    width: 100%;
}